body{
    margin:0px;
    padding: 0px;
    font-family: calibri;
}
.logo {
    font-size: 1.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0px;
    align-content: flex-start
    ;
}
  .logo h1{
    position: relative;
    font-weight: 200;
    top: -138px;
    left: 40px;
  }
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    height:100vh;
    background-image: url(images/product.bg);
    background-size: cover;
    background-position: top left;
    position: relative;
}
.logo img{
    height: 20px;
}
nav{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 10px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 2px #919394;
    z-index: 1;
    width:100%;
    height: 75px;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #2ea5ad;
    color:#fff;
    box-shadow: 5px 10px 30px #9bd9dd;
    transition: all ease 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;

}
.home-img{
	
    width:500px;
    height:400px;
    margin:20px;
}
.home-img img{
    width: 550px;
    height: 500px;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width:500px;
    margin:20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 1rem;
    color:#777474;
}
.main-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ea5ad;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    text-transform: uppercase;
}
.main-login:hover{
    background-color: #5a62fd;
    transition: all ease 0.3s;
}
.timing{
    position: absolute;
    left:20%;
    bottom: 10px;
    transform: translateX(-20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.office-time,
.office-number{
    margin: 0px 20px;
}
.office-time h3,
.office-number h3{
    font-weight: 700;
    color:#22252e;
    font-size: 1.6rem;
    margin: 0px;
}
.office-number p,
.office-time p{
    color:#777474;
    font-size: 1.1rem;
}
.office-time font,
.office-number font{
    color:#7b92fd;
    font-weight: 700;
}
.flex_container{
	position: relative;
	top: 230px;
}
.mission-heading{
	position: relative;
	top: 100px;
	text-align: center;
}
.vision-heading{
	position: relative;
	top: 100px;
		text-align: center;
}
.arrow{
    align-self: end;
    width:50%;
    border-right: 1px solid #5a76fd;
    height: 20%;
    margin-bottom:4em ;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: arrow-animation ease 1.5s;

}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #5a76fd transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
.scroll{
    position: absolute;
    bottom: 20px;
    right:55px;
    font-weight: 600;
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}
.services{
    background-image:url("../images/poduct\ bg.png");
	position: relative;
	top: 40px;
    background-size: 1000px;
    background-position: center;
}
.services-heading{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.mission-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.mission-heading p{
    font-size: 1rem;
    color:#777474;
    width:100%;
}

.vision-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.vision-heading p{
    font-size: 1rem;
    color:#777474;
    width:100%;
}
.services-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.services-heading p{
    font-size: 1rem;
    color:#777474;
    width:50%;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}
.box:hover{
    transform: scale(1.1);
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    height: 300px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    flex-grow: 1;
}
.box img{
    height:50px;
    margin:10px;
}
.box font{
    font-size: 1.5rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
}
.box p{
    font-size: 1rem;
    color: #777474;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}
.box a{
    width:150px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #5a76fd;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color:#5a76fd;
    margin:0px;
}
.box a:hover{
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    transition: all ease 0.3s;
}
.footer {
  background-color: #008891;
  width: 100%;
height: 100%;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    .home-img{
        display: none;
    }
    .home-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 45vh;
        background-color: rgba(33,33,33,0.35);
        margin: 0px;
    }
    .home-content{
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        background-image: url("../images/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    }
    .home-text h1{
        color:#fff;
        padding: 0px 20px;
        font-size: 2.5rem;
        border: 1px solid #fff;
    }
    .home-text p{
        color:rgba(255,255,255,0.85);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
    .arrow{
        height: 70px;
    }
   .main{
       background-size: 500px;;
   }
   .timing,.arrow,.scroll{
       bottom: 40px;
   }
}
@media(max-width:720px){
    .home-text p{
        width:70%;
        text-align: center;
    }
    .office-number,
    .office-time{
        flex-grow: 1;
        margin: 10px;
    }
    .office-number h3,
    .office-time h3{
        font-size: 1rem;
    }
    .office-time p,
    .office-number p{
        font-size: 0.8rem;
    }
    .arrow,.scroll{
        display: none;
    }
    .home-content h1{
        font-size: 1.9rem;
        padding: 10px 10px;
        line-height: 30px;
    }
    .timing{
        width: 100%;
        flex-wrap: wrap;
       margin: 0px;
        padding: 0px 20px;
    }
    .services-heading{
        margin:20px;

    }
    .services-heading h2{
        font-size: 1.7rem;
        line-height: 40px;
    }
    .services-heading p{
        width:100%;
    }
    .box{
        width:100%;
        margin: 20px 0px !important;
        padding: 0px 20px;
        flex-grow: 1;
    }
    .box img{
        height: 100px;
        width:100%;
        object-fit: contain;
	}
	
    
    }
.container{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container body{
	height: 100vh;
	font-family: "Raleway", sans-serif;
	background: #2F3238;
}

.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #008891;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}
                           
                           
#slider {
   margin: 0 auto;
	position: relative;
	top: 35px;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}

#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#controls {
	position: relative;
	top: 35px;
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
	position: relative;
	top: 35px;
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
 {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(1),
 {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}
footer{
  background: #f1f1f1;
	height: 400px;
  padding: 70px 10px;
}

.footer-container{
  max-width: 900px;
	max-height: 600px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 40px;
}
.left-col{
    font-family: 'Trebuchet MS',sans-serif;
    font-weight: 400;
    font-size: large;
  }
.social-media{
  margin: 20px 0;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #008891;
}
.right-col{
		 position: relative;
	font-family: calibri;
	font-size: 20px;
    font-weight: 200;
    top: -90px;
    left: 20px;
}
.right-col h1{
  font-size: 20px;
}

.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.newsletter-form{
  display: flex;
  right: 80px;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #008891;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.left-col {
	 position: relative;
    font-weight: 200;
    top: -50px;
    left: -250px;
}
.footer-container h1{
	    position: relative;
    font-weight: 200;
    top: -69px;
    left: 20px;
}
.left-col-info h2{
	 position: relative;
	font-family: calibri;
	font-size: 20px;
    font-weight: 200;
    top: -35px;
    left: 20px;
}
.left-col-info h1{
		 position: relative;
	font-family: calibri;
	font-size: 20px;
    font-weight: 200;
    top: -35px;
    left: 20px;
}

.flex_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 90px;
    
   
}

.box1,.box2,.box3,.box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_data{
    font-size: 20px;
    font-weight:900;
    

}

.box1 img{
    width: 4em;
    height: 4em;
   
  
}

.box2 img{
    width: 4em;
    height: 4em;
    
}

.box3 img{
    width: 4em;
    height: 4em;
   
}

.box4 img{
    width: 4em;
    height: 4em;
   
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 800%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
