@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* CSS Document */
body{
	  overflow-x: hidden;
    margin:0px;
    padding: 0px;
    font-family: calibri;
}
.logo {
    font-size: 1.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0px;
    align-content: flex-start
    ;
}
  .logo h1{
    position: relative;
    font-weight: 200;
    top: -85px;
    left: 40px;
  }
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    height:100vh;
    background-image: url(images/product.bg);
    background-size: cover;
    background-position: top left;
    position: relative;
}
.logo img{
    height: 20px;
}
nav{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 10px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 20px #008891;
    z-index: 1;
    width:100%;
    height: 75px;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav .menu-btn{
visibility: hidden;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #2ea5ad;
    color:#fff;
    box-shadow: 5px 10px 30px #9bd9dd;
    transition: all ease 0.2s;
}

.container{
	width:100%;
	height: 100vh;
	background: url("../img/2650401.jpg");
	background-repeat: no-repeat;
	background-size: 1800px 800px;
	display:flex;
	justify-content: center;
	align-items: center;
	
}


.box{
	width:350px;
	height:410px;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
	color: #ecf0f1;
      border-radius: 8px;
      padding: 20px;
      background: rgba( 255, 255, 255, 0.2 );
      border: solid 1px rgba(255,255,255,0.3);
      backgroud-clip: padding-box;
      backdrop-filter: blur(10px );
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
.project-name{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .project-name{
	color:#c0292b;
	transition: all ease 0.5s;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    .home-img{
        display: none;
    }
    .home-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 45vh;
        background-color: rgba(33,33,33,0.35);
        margin: 0px;
    }
    .home-content{
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        background-image: url("../images/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    }
    .home-text h1{
        color:#fff;
        padding: 0px 20px;
        font-size: 2.5rem;
        border: 1px solid #fff;
    }
    .home-text p{
        color:rgba(255,255,255,0.85);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
    .arrow{
        height: 70px;
    }
   .main{
       background-size: 500px;;
   }
   .timing,.arrow,.scroll{
       bottom: 40px;
   }
}
@media (max-width: 767px) {
	.footer{
		margin-top: 300px;
min-height: 600px;
min-width: 430px;
	}
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
	  margin-left: -60px;
    display:inline-block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
nav .menu-btn{
    display: block;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}
.footer {
  background-color: #008891;
  width: 110%;
	height: 45%;
	position: relative;
	top: 50px;
	left: -10px;
  text-align: left;
  font-family: calibri;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
padding-left: 150px;
	padding-top: 40px;
  margin-top: -50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;

  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
